/* line 17, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/partials/_bgLoader.scss */
.bgLoader {
  opacity: 0;
}
@media all and (min-width: 640px) {
  /* line 1, ../scss/partials/_bgLoader.scss */
  .bgLoader {
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
  }
}
/* line 12, ../scss/partials/_bgLoader.scss */
.bgLoader.bgLoaded {
  opacity: 1;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../scss/partials/_footer.scss */
html {
  background-color: #f1f0f0;
}

/* line 4, ../scss/partials/_footer.scss */
body {
  background-color: white;
}

/* line 8, ../scss/partials/_footer.scss */
footer {
  width: 100%;
  border-top: 1px solid #d1d1d1;
  background-color: #f1f0f0;
  position: absolute;
}
/* line 14, ../scss/partials/_footer.scss */
footer #inner-footer {
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

/* NAV VARIABLES */
/* line 21, ../scss/partials/_header.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 22, ../scss/partials/_header.scss */
body {
  font-family: 'Source Sans Pro', Arial;
}

/* NAV SCSS */
/* line 28, ../scss/partials/_header.scss */
#top-nav {
  width: 100%;
  height: 60px;
  background-color: #40a6e0;
  border-bottom: 2px solid #33799f;
}

/* line 35, ../scss/partials/_header.scss */
#inner-top-nav {
  margin: auto;
  max-width: 1000px;
  padding: 0;
  position: relative;
}
/* line 41, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-left {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 46, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-left a {
  cursor: pointer;
  display: block;
  height: 60px;
  width: 180px;
}
/* line 52, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-left a .top-nav-icon-logo {
  margin-top: 15px;
}
/* line 56, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-left a .top-nav-text-logo {
  position: relative;
  left: 15px;
  top: -4px;
}
/* line 64, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 70, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form {
  display: inline-block;
  margin-right: -3px;
  border-left: 1px solid #33799f;
  border-right: 1px solid #33799f;
  /* firefox 19+ */
  /* ie */
}
/* line 76, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"] {
  height: 58px;
  border: 0;
  background-color: #40a6e0;
  width: 150px;
  padding-left: 20px;
  color: white;
}
/* line 85, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
/* line 86, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"]::-moz-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
/* line 87, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"]::-ms-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
/* line 88, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"]::input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
/* line 90, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="submit"] {
  vertical-align: top;
  margin-top: 15px;
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("../img/search_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  right: 5px;
  cursor: pointer;
}
/* line 105, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="submit"]:focus, #inner-top-nav #inner-top-nav-right form input[type="text"]:focus {
  outline: none;
}
/* line 110, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
/* line 115, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  padding-right: 15px;
  position: relative;
  border-right: 1px solid #33799f;
}
/* line 123, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img:first-child {
  width: 60px;
  height: 60px;
  border-right: 1px solid #33799f;
}
/* line 129, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img, #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: white;
}
/* line 136, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
}
/* line 145, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button:hover {
  background-color: #3d9ed5;
  cursor: pointer;
}
/* line 150, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
  display: inline-block;
  width: 179px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 25px;
  border-right: 1px solid #33799f;
  text-align: center;
  font-size: 14px;
  height: 60px;
}
/* line 163, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection p {
  display: inline;
  color: #E8E8E8;
  margin-left: 7px;
  margin-right: 7px;
}
/* line 171, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  padding-right: 15px;
  position: relative;
  border-right: 1px solid #33799f;
}
/* line 179, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img, #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: white;
}
/* line 186, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
}
/* line 197, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button:hover {
  background-color: #3d9ed5;
  cursor: pointer;
}
/* line 202, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu {
  display: none;
  position: absolute;
  z-index: 101;
  top: 27px;
  right: 0;
}
/* line 209, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu li {
  margin-top: 2px;
  margin-bottom: -2px;
  width: 200px;
  position: relative;
  display: block;
  background-color: #a7a7a7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
}
/* line 226, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu li:hover {
  background-color: #9c9c9c;
}

/* line 236, ../scss/partials/_header.scss */
#bottom-nav {
  height: 40px;
  background-color: #f1f0f0;
}
/* line 240, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav {
  position: relative;
  max-width: 1000px;
  margin: auto;
}
/* line 245, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav {
  display: inline-block;
  position: relative;
  left: -10px;
}
/* line 250, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li {
  display: inline-block;
  line-height: 41px;
  text-transform: uppercase;
  font-size: 14px;
  width: 120px;
  margin-left: 10px;
  text-align: center;
}
/* line 259, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li:after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  position: relative;
  top: -4px;
  background-color: #40a6e0;
  opacity: 0;
  margin: 0 auto;
}
@media all and (min-width: 640px) {
  /* line 259, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav li:after {
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
  }
}
/* line 279, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li:hover:after {
  opacity: 1;
  width: 100%;
}
/* line 285, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li a {
  color: #959595;
}
/* line 287, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li a:hover {
  color: #40a6e0;
}
/* line 294, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav #mobile-nav-icon {
  display: none;
}
/* line 298, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav #bottom-nav-social {
  display: inline-block;
  vertical-align: top;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 306, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav #bottom-nav-social li {
  display: inline-block;
  margin-right: 10px;
  line-height: 42px;
}

@media all and (max-width: 600px) {
  /* line 317, ../scss/partials/_header.scss */
  #top-nav a {
    width: 70px!important;
  }
  /* line 320, ../scss/partials/_header.scss */
  #top-nav a #top-nav-logo-text {
    display: none;
  }

  /* line 328, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information {
    text-align: right;
  }
  /* line 332, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
    display: none;
  }
  /* line 335, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button #top-nav-user-arrow {
    margin-left: 15px;
  }

  /* line 345, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav {
    background-color: #e5e3e3;
    position: fixed;
    top: 0;
    left: -210px;
    height: 100%;
    z-index: 100;
    box-shadow: 0 0 0 700px rgba(0, 0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  /* line 360, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav li {
    display: block;
    width: 200px;
    margin-left: 5px;
  }
  /* line 368, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav li:after {
    display: none;
  }
  /* line 369, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav li:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 0;
    background-color: #40a6e0;
    position: absolute;
    left: 4px;
    opacity: 0;
  }
  /* line 380, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav li:hover:before {
    opacity: 1;
    height: 40px;
  }
  /* line 387, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav.open {
    left: -5px;
    box-shadow: 0 0 0 700px rgba(0, 0, 0, 0);
  }
  /* line 392, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon {
    display: block;
    float: left;
    line-height: 41px;
    position: relative;
    left: 15px;
    cursor: pointer;
    position: relative;
    top: 10px;
    width: 20px;
    height: 20px;
    z-index: 101;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  /* line 411, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon p {
    position: relative;
    top: 8px;
    width: 20px;
    height: 3px;
    background: #bbb;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  /* line 424, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon p:before, #bottom-nav #inner-bottom-nav #mobile-nav-icon p:after {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 3px;
    background: #bbb;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
  }
  /* line 438, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon p:before {
    top: -6px;
  }
  /* line 440, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon p:after {
    top: 6px;
    margin-top: -3px;
  }
  /* line 447, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon:hover p {
    background: #999;
  }
  /* line 450, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon:hover p:before, #bottom-nav #inner-bottom-nav #mobile-nav-icon:hover p:after {
    background: #999;
  }
  /* line 456, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon.open {
    left: 210px;
  }
  /* line 462, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon.open p {
    background: transparent;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    transition: 0;
  }
  /* line 470, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon.open p:before, #bottom-nav #inner-bottom-nav #mobile-nav-icon.open p:after {
    top: 0;
    background: white;
  }
  /* line 474, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon.open p:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 480, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon.open p:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media all and (max-width: 600px) and (max-width: 350px) {
  /* line 360, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav li {
    width: 170px;
  }
}
@media all and (max-width: 600px) and (max-width: 350px) {
  /* line 456, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon.open {
    left: 185px;
  }
}
@media all and (max-width: 450px) {
  /* line 495, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  /* line 500, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right form input[type="text"] {
    width: 100px;
    padding-left: 10px;
  }
  /* line 507, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
    width: 120px;
  }
}
@media all and (max-width: 350px) {
  /* line 518, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right form input[type="text"] {
    width: 50px;
    padding-left: 5px;
  }
  /* line 525, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
    width: 100px;
  }
}
@-webkit-keyframes rainDrop {
  /* line 6, ../scss/404.scss */
  from {
    top: -40px;
  }

  /* line 7, ../scss/404.scss */
  to {
    top: 100%;
  }
}

/* line 10, ../scss/404.scss */
#error404 {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
/* line 17, ../scss/404.scss */
#error404 #illustration {
  width: 500px;
  height: 100%;
  float: left;
  display: inline-block;
}
/* line 23, ../scss/404.scss */
#error404 #illustration #cloud {
  width: 300px;
  height: 100px;
  background-color: #40a6e0;
  border-radius: 20% 20% 20%/50% 50%;
  position: relative;
  left: 75px;
  margin: 100px 30px 0 0;
  float: left;
  text-align: center;
  font-size: 100px;
  color: white;
  line-height: 60px;
  z-index: 50;
}
/* line 38, ../scss/404.scss */
#error404 #illustration #cloud:after, #error404 #illustration #cloud:before {
  content: "";
  position: absolute;
  background-color: #40a6e0;
  z-index: -1;
}
/* line 44, ../scss/404.scss */
#error404 #illustration #cloud:after {
  width: 60%;
  height: 130%;
  top: -50%;
  left: 10%;
  border-radius: 90% 120% 0 100%;
}
/* line 51, ../scss/404.scss */
#error404 #illustration #cloud:before {
  width: 60%;
  height: 150%;
  top: -60%;
  right: 8%;
  border-radius: 90% 100% 50% 0;
}
/* line 60, ../scss/404.scss */
#error404 #illustration #rain {
  clear: both;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  top: -50px;
  left: 75px;
  float: left;
  margin-right: 30px;
}
/* line 71, ../scss/404.scss */
#error404 #illustration #rain:after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  box-shadow: inset 0px -10px 20px 0px white;
}
/* line 81, ../scss/404.scss */
#error404 #illustration #rain li {
  background-color: #40a6e0;
  width: 2px;
  height: 40px;
  position: relative;
  top: -40px;
  display: inline-block;
  -webkit-animation: rainDrop 1.8s linear 0 infinite normal;
}
/* line 90, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(1) {
  left: 50%;
  -webkit-animation-delay: 0;
}
/* line 93, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(2) {
  left: 10%;
  -webkit-animation-delay: 0.2s;
}
/* line 96, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(3) {
  left: 70%;
  -webkit-animation-delay: 0.4s;
}
/* line 99, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(4) {
  left: 20%;
  -webkit-animation-delay: 0.6s;
}
/* line 102, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(5) {
  left: 80%;
  -webkit-animation-delay: 0.8s;
}
/* line 105, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(6) {
  left: 50%;
  -webkit-animation-delay: 1.0s;
}
/* line 108, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(7) {
  left: 10%;
  -webkit-animation-delay: 1.2s;
}
/* line 111, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(8) {
  left: 70%;
  -webkit-animation-delay: 1.4s;
}
/* line 114, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(9) {
  left: 20%;
  -webkit-animation-delay: 1.6s;
}
/* line 117, ../scss/404.scss */
#error404 #illustration #rain li:nth-child(10) {
  left: 80%;
  -webkit-animation-delay: 1.8s;
}
/* line 125, ../scss/404.scss */
#error404 #text {
  left: 0;
  display: inline-block;
  width: 100%;
  max-width: 50%;
  min-height: 350px;
  margin-top: 180px;
  color: #40a6e0;
  font-size: 14px;
  padding: 0;
}
/* line 136, ../scss/404.scss */
#error404 #text #inner-text {
  padding: 15px;
  width: auto;
  float: right;
}
/* line 142, ../scss/404.scss */
#error404 #text h1 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 149, ../scss/404.scss */
#error404 #text a {
  color: #40a6e0;
  text-decoration: underline;
}

@media all and (max-width: 1015px) {
  /* line 158, ../scss/404.scss */
  #error404 #illustration {
    width: 370px;
  }
  /* line 161, ../scss/404.scss */
  #error404 #illustration #cloud {
    left: 25px;
    margin: 100px 30px 0 0;
  }
  /* line 165, ../scss/404.scss */
  #error404 #illustration #rain {
    left: 25px;
  }
  /* line 170, ../scss/404.scss */
  #error404 #text {
    padding: 0;
    width: 100%;
  }
  /* line 174, ../scss/404.scss */
  #error404 #text #inner-text {
    max-width: 450px;
    float: left;
  }
}
@media all and (max-width: 760px) {
  /* line 184, ../scss/404.scss */
  #error404 #text {
    max-width: 40%;
  }
}
@media all and (max-width: 640px) {
  /* line 192, ../scss/404.scss */
  #error404 #illustration {
    width: 100%;
    height: 450px;
  }
  /* line 196, ../scss/404.scss */
  #error404 #illustration #cloud {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 203, ../scss/404.scss */
  #error404 #illustration #rain {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 209, ../scss/404.scss */
  #error404 #illustration #rain li {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  /* line 216, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(1) {
    top: 95%;
  }
  /* line 218, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(2) {
    top: 90%;
  }
  /* line 220, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(3) {
    top: 80%;
  }
  /* line 222, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(4) {
    top: 70%;
  }
  /* line 224, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(5) {
    top: 60%;
  }
  /* line 226, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(6) {
    top: 50%;
  }
  /* line 228, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(7) {
    top: 40%;
  }
  /* line 230, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(8) {
    top: 30%;
  }
  /* line 232, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(9) {
    top: 20%;
  }
  /* line 234, ../scss/404.scss */
  #error404 #illustration #rain li:nth-child(10) {
    top: 10%;
  }
  /* line 241, ../scss/404.scss */
  #error404 #text {
    padding: 0;
    min-height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
  }
  /* line 249, ../scss/404.scss */
  #error404 #text #inner-text {
    width: auto;
    padding: 15px;
  }
}
@media all and (max-width: 350px) {
  /* line 259, ../scss/404.scss */
  #error404 #illustration {
    height: 350px;
  }
  /* line 262, ../scss/404.scss */
  #error404 #illustration #cloud {
    width: 230px;
    height: 80px;
    font-size: 100px;
    line-height: 50px;
    margin-top: 60px;
  }
  /* line 270, ../scss/404.scss */
  #error404 #illustration #rain {
    width: 230px;
    height: 200px;
  }
  /* line 276, ../scss/404.scss */
  #error404 #text {
    margin-top: 0;
    margin-bottom: 5px;
  }
  /* line 281, ../scss/404.scss */
  #error404 #text #inner-text h1 {
    font-size: 26px;
  }
}
