html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #f1f0f0;
}

body {
  background-color: white;
}

footer {
  width: 100%;
  border-top: 1px solid #d1d1d1;
  background-color: #f1f0f0;
  position: absolute;
}
footer #inner-footer {
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

/* NAV VARIABLES */
a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Source Sans Pro', Arial;
}

/* NAV SCSS */
#top-nav {
  width: 100%;
  height: 60px;
  background-color: #40a6e0;
  border-bottom: 2px solid #33799f;
}

#inner-top-nav {
  margin: auto;
  max-width: 1000px;
  padding: 0;
  position: relative;
}
#inner-top-nav #inner-top-nav-left {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
#inner-top-nav #inner-top-nav-left .top-nav-icon-logo {
  margin-top: 15px;
}
#inner-top-nav #inner-top-nav-left .top-nav-text-logo {
  position: relative;
  left: 15px;
  top: -4px;
}
#inner-top-nav #inner-top-nav-right {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
#inner-top-nav #inner-top-nav-right form {
  display: inline-block;
  margin-right: -3px;
  border-left: 1px solid #33799f;
  border-right: 1px solid #33799f;
  /* firefox 19+ */
  /* ie */
}
#inner-top-nav #inner-top-nav-right form input[type="text"] {
  height: 58px;
  border: 0;
  background-color: #40a6e0;
  width: 150px;
  padding-left: 20px;
  color: white;
}
#inner-top-nav #inner-top-nav-right form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
#inner-top-nav #inner-top-nav-right form input[type="text"]::-moz-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
#inner-top-nav #inner-top-nav-right form input[type="text"]::-ms-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
#inner-top-nav #inner-top-nav-right form input[type="text"]::input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
#inner-top-nav #inner-top-nav-right form input[type="submit"] {
  vertical-align: top;
  margin-top: 15px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  background-image: url("../img/search_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  right: 5px;
  cursor: pointer;
}
#inner-top-nav #inner-top-nav-right form input[type="submit"]:focus, #inner-top-nav #inner-top-nav-right form input[type="text"]:focus {
  outline: none;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  padding-right: 15px;
  position: relative;
  border-right: 1px solid #33799f;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img:first-child {
  width: 60px;
  height: 60px;
  border-right: 1px solid #33799f;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img, #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: white;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button:hover {
  background-color: #3d9ed5;
  cursor: pointer;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
  display: inline-block;
  width: 179px;
  height: 100%;
  padding-top: 10px;
  border-right: 1px solid #33799f;
  text-align: center;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection hr {
  display: block;
  vertical-align: middle;
  height: 1px;
  width: 30px;
  border: 0;
  background-color: white;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  padding-right: 15px;
  position: relative;
  border-right: 1px solid #33799f;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img, #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: white;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button:hover {
  background-color: #3d9ed5;
  cursor: pointer;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu {
  display: none;
  position: absolute;
  z-index: 101;
  top: 27px;
  right: 0;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu li {
  margin-top: 2px;
  margin-bottom: -2px;
  width: 200px;
  position: relative;
  display: block;
  background-color: #a7a7a7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
}
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu li:hover {
  background-color: #9c9c9c;
}

#bottom-nav {
  height: 40px;
  background-color: #f1f0f0;
}
#bottom-nav #inner-bottom-nav {
  position: relative;
  max-width: 1000px;
  margin: auto;
}
#bottom-nav #inner-bottom-nav nav {
  display: inline-block;
  position: relative;
  left: -10px;
}
#bottom-nav #inner-bottom-nav nav li {
  display: inline-block;
  line-height: 41px;
  text-transform: uppercase;
  font-size: 14px;
  width: 120px;
  margin-left: 10px;
  text-align: center;
}
#bottom-nav #inner-bottom-nav nav li a {
  color: #959595;
}
#bottom-nav #inner-bottom-nav nav li a:hover {
  color: #40a6e0;
}
#bottom-nav #inner-bottom-nav nav li a:hover ~ .bottom-nav-underline {
  display: block;
}
#bottom-nav #inner-bottom-nav nav li .bottom-nav-underline {
  width: 100%;
  height: 3px;
  position: relative;
  top: -4px;
  background-color: #40a6e0;
  display: none;
}
#bottom-nav #inner-bottom-nav #mobile-nav-icon {
  display: none;
}
#bottom-nav #inner-bottom-nav #bottom-nav-social {
  display: inline-block;
  vertical-align: top;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
#bottom-nav #inner-bottom-nav #bottom-nav-social li {
  display: inline-block;
  margin-right: 10px;
  line-height: 42px;
}

@media all and (max-width: 600px) {
  #top-nav #top-nav-logo-text {
    display: none;
  }

  #inner-top-nav #inner-top-nav-right #top-nav-user-information {
    text-align: right;
  }
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
    display: none;
  }
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button #top-nav-user-arrow {
    margin-left: 15px;
  }

  #bottom-nav #inner-bottom-nav nav {
    background-color: #e5e3e3;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    z-index: 100;
    box-shadow: 0 0 12px #555;
  }
  #bottom-nav #inner-bottom-nav nav li {
    display: block;
    width: 170px;
    margin-left: 5px;
  }
  #bottom-nav #inner-bottom-nav nav li .bottom-nav-underline {
    height: 40px;
    width: 4px;
    top: -40px;
    margin-bottom: -40px;
  }
  #bottom-nav #inner-bottom-nav nav.open {
    left: -5px;
  }
  #bottom-nav #inner-bottom-nav #mobile-nav-icon {
    display: inline-block;
    float: left;
    line-height: 41px;
    position: relative;
    left: 15px;
  }
  #bottom-nav #inner-bottom-nav #mobile-nav-icon.open {
    left: 183px;
  }
}
@media all and (max-width: 450px) {
  #inner-top-nav #inner-top-nav-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  #inner-top-nav #inner-top-nav-right form input[type="text"] {
    width: 100px;
    padding-left: 10px;
  }
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
    width: 120px;
  }
}
@media all and (max-width: 350px) {
  #inner-top-nav #inner-top-nav-right form input[type="text"] {
    width: 50px;
    padding-left: 5px;
  }
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
    width: 100px;
  }
}
@-webkit-keyframes rainDrop {
  from {
    top: -40px;
  }

  to {
    top: 100%;
  }
}
#error404 {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
#error404 #cloud {
  width: 300px;
  height: 100px;
  background-color: #3c9eea;
  border-radius: 20% 20% 20% / 50% 50%;
  position: relative;
  margin: 100px 30px 0 0;
  float: left;
  text-align: center;
  font-size: 130px;
  color: white;
  line-height: 60px;
  z-index: 50;
}
#error404 #cloud:after, #error404 #cloud:before {
  content: "";
  position: absolute;
  background-color: #3c9eea;
  z-index: -1;
}
#error404 #cloud:after {
  width: 60%;
  height: 130%;
  top: -50%;
  left: 10%;
  border-radius: 90% 120% 0 100%;
}
#error404 #cloud:before {
  width: 60%;
  height: 150%;
  top: -60%;
  right: 8%;
  border-radius: 90% 100% 50% 0;
}
#error404 #rain {
  clear: both;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  top: -50px;
  float: left;
  margin-right: 30px;
}
#error404 #rain:after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  box-shadow: inset 0px -10px 20px 0px white;
}
#error404 #rain li {
  background-color: #3c9eea;
  width: 2px;
  height: 40px;
  position: relative;
  top: -40px;
  display: inline-block;
  -webkit-animation: rainDrop 1.8s linear 0 infinite normal;
}
#error404 #rain li:nth-child(1) {
  left: 50%;
  -webkit-animation-delay: 0;
}
#error404 #rain li:nth-child(2) {
  left: 10%;
  -webkit-animation-delay: 0.2s;
}
#error404 #rain li:nth-child(3) {
  left: 70%;
  -webkit-animation-delay: 0.4s;
}
#error404 #rain li:nth-child(4) {
  left: 20%;
  -webkit-animation-delay: 0.6s;
}
#error404 #rain li:nth-child(5) {
  left: 80%;
  -webkit-animation-delay: 0.8s;
}
#error404 #rain li:nth-child(6) {
  left: 50%;
  -webkit-animation-delay: 1.0s;
}
#error404 #rain li:nth-child(7) {
  left: 10%;
  -webkit-animation-delay: 1.2s;
}
#error404 #rain li:nth-child(8) {
  left: 70%;
  -webkit-animation-delay: 1.4s;
}
#error404 #rain li:nth-child(9) {
  left: 20%;
  -webkit-animation-delay: 1.6s;
}
#error404 #rain li:nth-child(10) {
  left: 80%;
  -webkit-animation-delay: 1.8s;
}
#error404 #text {
  display: block;
  min-width: 100px;
  min-height: 350px;
  margin-top: 180px;
  color: #3c9eea;
  font-size: 18px;
}
#error404 #text h1 {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#error404 #text a {
  color: #3c9eea;
  text-decoration: underline;
}

@media all and (max-width: 700px) {
  #error404 #text {
    margin-top: 150px;
  }
}
@media all and (max-width: 500px) {
  #error404 #cloud {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  #error404 #rain {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  #error404 #rain li {
    -webkit-animation-play-state: paused;
  }
  #error404 #rain li:nth-child(1) {
    top: 95%;
  }
  #error404 #rain li:nth-child(2) {
    top: 90%;
  }
  #error404 #rain li:nth-child(3) {
    top: 80%;
  }
  #error404 #rain li:nth-child(4) {
    top: 70%;
  }
  #error404 #rain li:nth-child(5) {
    top: 60%;
  }
  #error404 #rain li:nth-child(6) {
    top: 50%;
  }
  #error404 #rain li:nth-child(7) {
    top: 40%;
  }
  #error404 #rain li:nth-child(8) {
    top: 30%;
  }
  #error404 #rain li:nth-child(9) {
    top: 20%;
  }
  #error404 #rain li:nth-child(10) {
    top: 10%;
  }
  #error404 #text {
    padding: 15px;
    min-height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 350px) {
  #error404 #cloud {
    width: 230px;
    height: 80px;
    font-size: 100px;
    line-height: 50px;
    margin-top: 60px;
  }
  #error404 #rain {
    width: 230px;
    height: 200px;
  }
  #error404 #text {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
