/* line 17, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../scss/partials/_footer.scss */
html {
  background-color: #f1f0f0;
}

/* line 4, ../scss/partials/_footer.scss */
body {
  background-color: white;
}

/* line 8, ../scss/partials/_footer.scss */
footer {
  width: 100%;
  border-top: 1px solid #d1d1d1;
  background-color: #f1f0f0;
  position: absolute;
}
/* line 14, ../scss/partials/_footer.scss */
footer #inner-footer {
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

/* NAV VARIABLES */
/* line 20, ../scss/partials/_header.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 21, ../scss/partials/_header.scss */
body {
  font-family: 'Source Sans Pro', Arial;
}

/* NAV SCSS */
/* line 27, ../scss/partials/_header.scss */
#top-nav {
  width: 100%;
  height: 60px;
  background-color: #40a6e0;
  border-bottom: 2px solid #33799f;
}

/* line 34, ../scss/partials/_header.scss */
#inner-top-nav {
  margin: auto;
  max-width: 1000px;
  padding: 0;
  position: relative;
}
/* line 40, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-left {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 45, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-left a {
  cursor: pointer;
  display: block;
  height: 60px;
  width: 180px;
}
/* line 51, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-left a .top-nav-icon-logo {
  margin-top: 15px;
}
/* line 55, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-left a .top-nav-text-logo {
  position: relative;
  left: 15px;
  top: -4px;
}
/* line 63, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 69, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form {
  display: inline-block;
  margin-right: -3px;
  border-left: 1px solid #33799f;
  border-right: 1px solid #33799f;
  /* firefox 19+ */
  /* ie */
}
/* line 75, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"] {
  height: 58px;
  border: 0;
  background-color: #40a6e0;
  width: 150px;
  padding-left: 20px;
  color: white;
}
/* line 84, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
/* line 85, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"]::-moz-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
/* line 86, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"]::-ms-input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
/* line 87, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="text"]::input-placeholder {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-family: 'Source Sans Pro', Arial;
  position: relative;
}
/* line 89, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="submit"] {
  vertical-align: top;
  margin-top: 15px;
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("../img/search_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  right: 5px;
  cursor: pointer;
}
/* line 104, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right form input[type="submit"]:focus, #inner-top-nav #inner-top-nav-right form input[type="text"]:focus {
  outline: none;
}
/* line 109, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
/* line 114, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  padding-right: 15px;
  position: relative;
  border-right: 1px solid #33799f;
}
/* line 122, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img:first-child {
  width: 60px;
  height: 60px;
  border-right: 1px solid #33799f;
}
/* line 128, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img, #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: white;
}
/* line 135, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
}
/* line 144, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button:hover {
  background-color: #3d9ed5;
  cursor: pointer;
}
/* line 149, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
  display: inline-block;
  width: 179px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 25px;
  border-right: 1px solid #33799f;
  text-align: center;
  font-size: 14px;
  height: 60px;
}
/* line 162, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection p {
  display: inline;
  color: #E8E8E8;
  margin-left: 7px;
  margin-right: 7px;
}
/* line 170, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  padding-right: 15px;
  position: relative;
  border-right: 1px solid #33799f;
}
/* line 178, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button img, #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: white;
}
/* line 185, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
}
/* line 196, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button:hover {
  background-color: #3d9ed5;
  cursor: pointer;
}
/* line 201, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu {
  display: none;
  position: absolute;
  z-index: 101;
  top: 27px;
  right: 0;
}
/* line 208, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu li {
  margin-top: 2px;
  margin-bottom: -2px;
  width: 200px;
  position: relative;
  display: block;
  background-color: #a7a7a7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
}
/* line 225, ../scss/partials/_header.scss */
#inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-menu li:hover {
  background-color: #9c9c9c;
}

/* line 235, ../scss/partials/_header.scss */
#bottom-nav {
  height: 40px;
  background-color: #f1f0f0;
}
/* line 239, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav {
  position: relative;
  max-width: 1000px;
  margin: auto;
}
/* line 244, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav {
  display: inline-block;
  position: relative;
  left: -10px;
}
/* line 249, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li {
  display: inline-block;
  line-height: 41px;
  text-transform: uppercase;
  font-size: 14px;
  width: 120px;
  margin-left: 10px;
  text-align: center;
}
/* line 258, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li a {
  color: #959595;
}
/* line 262, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li a:hover {
  color: #40a6e0;
}
/* line 266, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li a:hover ~ .bottom-nav-underline {
  display: block;
}
/* line 270, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav nav li .bottom-nav-underline {
  width: 100%;
  height: 3px;
  position: relative;
  top: -4px;
  background-color: #40a6e0;
  display: none;
}
/* line 282, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav #mobile-nav-icon {
  display: none;
}
/* line 286, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav #bottom-nav-social {
  display: inline-block;
  vertical-align: top;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 294, ../scss/partials/_header.scss */
#bottom-nav #inner-bottom-nav #bottom-nav-social li {
  display: inline-block;
  margin-right: 10px;
  line-height: 42px;
}

@media all and (max-width: 600px) {
  /* line 305, ../scss/partials/_header.scss */
  #top-nav a {
    width: 70px!important;
  }
  /* line 308, ../scss/partials/_header.scss */
  #top-nav a #top-nav-logo-text {
    display: none;
  }

  /* line 316, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information {
    text-align: right;
  }
  /* line 320, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button h4 {
    display: none;
  }
  /* line 323, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-nav-user-information-button #top-nav-user-arrow {
    margin-left: 15px;
  }

  /* line 333, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav {
    background-color: #e5e3e3;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    z-index: 100;
    box-shadow: 0 0 12px #555;
  }
  /* line 342, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav li {
    display: block;
    width: 170px;
    margin-left: 5px;
  }
  /* line 347, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav li .bottom-nav-underline {
    height: 40px;
    width: 4px;
    top: -40px;
    margin-bottom: -40px;
  }
  /* line 355, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav nav.open {
    left: -5px;
  }
  /* line 359, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon {
    display: inline-block;
    float: left;
    line-height: 41px;
    position: relative;
    left: 15px;
  }
  /* line 366, ../scss/partials/_header.scss */
  #bottom-nav #inner-bottom-nav #mobile-nav-icon.open {
    left: 183px;
  }
}
@media all and (max-width: 450px) {
  /* line 375, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  /* line 380, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right form input[type="text"] {
    width: 100px;
    padding-left: 10px;
  }
  /* line 387, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
    width: 120px;
  }
}
@media all and (max-width: 350px) {
  /* line 398, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right form input[type="text"] {
    width: 50px;
    padding-left: 5px;
  }
  /* line 405, ../scss/partials/_header.scss */
  #inner-top-nav #inner-top-nav-right #top-nav-user-information #top-connection {
    width: 100px;
  }
}
/* line 1, ../scss/partials/_checkbox.scss */
input[type=checkbox] {
  cursor: pointer;
  width: 25px;
  margin: 10px 5px 15px 10px;
}
/* line 6, ../scss/partials/_checkbox.scss */
input[type=checkbox]:before {
  content: "";
  background-color: #dddddd;
  color: #ffffff;
  padding: 12px 0px 13px 5px;
  display: block;
  font-size: 20px;
  position: relative;
  bottom: 5px;
  right: 5px;
  line-height: 0;
  text-indent: 0;
  margin-left: -2px;
}
/* line 20, ../scss/partials/_checkbox.scss */
input[type=checkbox]:checked:before, input[type=checkbox]:hover:before, input[type=checkbox][disabled]:checked:before {
  content: "✓";
}
/* line 23, ../scss/partials/_checkbox.scss */
input[type=checkbox]:checked:before {
  background-color: #2ecc71;
}
/* line 26, ../scss/partials/_checkbox.scss */
input[type=checkbox][disabled] {
  cursor: default;
}
/* line 29, ../scss/partials/_checkbox.scss */
input[type=checkbox][disabled]:hover:before {
  content: "";
}
/* line 32, ../scss/partials/_checkbox.scss */
input[type=checkbox][disabled]:checked:before {
  background-color: #dddddd;
}
/* line 36, ../scss/partials/_checkbox.scss */
input[type=checkbox][disabled] + label {
  color: #999999;
  cursor: default;
}
/* line 42, ../scss/partials/_checkbox.scss */
input[type=checkbox] + label {
  position: relative;
  right: 5px;
  cursor: pointer;
  width: auto!important;
  margin-left: 5px!important;
}

/* line 3, ../scss/partials/_slider.scss */
#slider {
  max-width: 1200px;
  height: 500px;
  margin: auto;
  background-image: url(../img/slider.png);
}
/* line 9, ../scss/partials/_slider.scss */
#slider section {
  max-width: 1000px;
  height: 400px;
  margin: auto;
  position: relative;
  top: 50px;
  background-color: rgba(64, 166, 224, 0.8);
}
/* line 17, ../scss/partials/_slider.scss */
#slider section #boxPages {
  float: left;
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 400px;
}
/* line 24, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome, #slider section #boxPages #pageLogin, #slider section #boxPages #pageRegister {
  display: none;
  max-width: 350px;
  width: 100%;
  height: 350px;
  margin-top: 25px;
  margin-left: 25px;
  color: white;
  text-align: center;
}
/* line 34, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome button, #slider section #boxPages #pageHome input[type=submit], #slider section #boxPages #pageLogin button, #slider section #boxPages #pageLogin input[type=submit], #slider section #boxPages #pageRegister button, #slider section #boxPages #pageRegister input[type=submit] {
  cursor: pointer;
  background-color: white;
  padding: 10px 40px;
  border: 0;
  color: #33799f;
}
/* line 41, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome button:focus, #slider section #boxPages #pageHome button:active, #slider section #boxPages #pageHome input[type=submit]:focus, #slider section #boxPages #pageHome input[type=submit]:active, #slider section #boxPages #pageLogin button:focus, #slider section #boxPages #pageLogin button:active, #slider section #boxPages #pageLogin input[type=submit]:focus, #slider section #boxPages #pageLogin input[type=submit]:active, #slider section #boxPages #pageRegister button:focus, #slider section #boxPages #pageRegister button:active, #slider section #boxPages #pageRegister input[type=submit]:focus, #slider section #boxPages #pageRegister input[type=submit]:active {
  outline: none;
}
/* line 46, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome h3, #slider section #boxPages #pageLogin h3, #slider section #boxPages #pageRegister h3 {
  font-size: 22px;
  margin-bottom: 10px;
  cursor: default;
}
/* line 51, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome .inner-text, #slider section #boxPages #pageLogin .inner-text, #slider section #boxPages #pageRegister .inner-text {
  line-height: 18px;
  padding: 5px;
  padding-top: 0;
  font-size: 16px;
}
/* line 58, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome a, #slider section #boxPages #pageLogin a, #slider section #boxPages #pageRegister a {
  margin-top: 15px;
  display: block;
  cursor: pointer;
}
/* line 65, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome form label, #slider section #boxPages #pageLogin form label, #slider section #boxPages #pageRegister form label {
  display: inline-block;
  width: 40%;
  margin: 0;
  text-align: right;
  margin-left: -15px;
  margin-right: 10px;
}
/* line 73, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome form input[type=text], #slider section #boxPages #pageHome form input[type=email], #slider section #boxPages #pageHome form input[type=password], #slider section #boxPages #pageLogin form input[type=text], #slider section #boxPages #pageLogin form input[type=email], #slider section #boxPages #pageLogin form input[type=password], #slider section #boxPages #pageRegister form input[type=text], #slider section #boxPages #pageRegister form input[type=email], #slider section #boxPages #pageRegister form input[type=password] {
  display: inline-block;
  border: none;
  margin: 5px 0;
  width: 60%;
  height: 40px;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 84, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome form input[type=text]:focus, #slider section #boxPages #pageHome form input[type=text]:active, #slider section #boxPages #pageHome form input[type=email]:focus, #slider section #boxPages #pageHome form input[type=email]:active, #slider section #boxPages #pageHome form input[type=password]:focus, #slider section #boxPages #pageHome form input[type=password]:active, #slider section #boxPages #pageLogin form input[type=text]:focus, #slider section #boxPages #pageLogin form input[type=text]:active, #slider section #boxPages #pageLogin form input[type=email]:focus, #slider section #boxPages #pageLogin form input[type=email]:active, #slider section #boxPages #pageLogin form input[type=password]:focus, #slider section #boxPages #pageLogin form input[type=password]:active, #slider section #boxPages #pageRegister form input[type=text]:focus, #slider section #boxPages #pageRegister form input[type=text]:active, #slider section #boxPages #pageRegister form input[type=email]:focus, #slider section #boxPages #pageRegister form input[type=email]:active, #slider section #boxPages #pageRegister form input[type=password]:focus, #slider section #boxPages #pageRegister form input[type=password]:active {
  outline: none;
}
/* line 90, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome:after, #slider section #boxPages #pageLogin:after, #slider section #boxPages #pageRegister:after {
  content: "";
  display: block;
  width: 1px;
  height: 300px;
  margin-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 102, ../scss/partials/_slider.scss */
#slider section #boxPages.home > #pageHome {
  display: block;
}
/* line 104, ../scss/partials/_slider.scss */
#slider section #boxPages.login > #pageLogin {
  display: block;
}
/* line 106, ../scss/partials/_slider.scss */
#slider section #boxPages.register > #pageRegister {
  display: block;
}
/* line 111, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome .logo {
  margin-top: 18%;
}
/* line 114, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome h3 {
  margin-top: 5%;
}
/* line 117, ../scss/partials/_slider.scss */
#slider section #boxPages #pageHome button {
  margin-top: 10%;
}
/* line 123, ../scss/partials/_slider.scss */
#slider section #boxPages #pageRegister form {
  margin-top: 15px;
}
/* line 126, ../scss/partials/_slider.scss */
#slider section #boxPages #pageRegister input[type=submit] {
  margin-top: 10px;
}
/* line 132, ../scss/partials/_slider.scss */
#slider section #boxPages #pageLogin h3 {
  margin-top: 70px;
}
/* line 135, ../scss/partials/_slider.scss */
#slider section #boxPages #pageLogin form {
  margin-top: 30px;
}
/* line 138, ../scss/partials/_slider.scss */
#slider section #boxPages #pageLogin form label {
  width: 30%;
}
/* line 141, ../scss/partials/_slider.scss */
#slider section #boxPages #pageLogin form input[type=text], #slider section #boxPages #pageLogin form input[type=email], #slider section #boxPages #pageLogin form input[type=password] {
  width: 70%;
}
/* line 145, ../scss/partials/_slider.scss */
#slider section #boxPages #pageLogin input[type=submit] {
  margin-top: 30px;
}
/* line 151, ../scss/partials/_slider.scss */
#slider section #boxBest {
  float: left;
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 400px;
}
/* line 158, ../scss/partials/_slider.scss */
#slider section #boxBest h3 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 80px;
  margin-left: 30px;
  color: white;
}
/* line 165, ../scss/partials/_slider.scss */
#slider section #boxBest h3:after {
  content: "";
  display: block;
  height: 4px;
  width: 25px;
  background-color: white;
  border: none;
  position: relative;
  bottom: -5px;
}
/* line 177, ../scss/partials/_slider.scss */
#slider section #boxBest .video {
  width: 250px;
  height: 180px;
  margin: 0 30px;
  margin-bottom: 80px;
  position: absolute;
  bottom: 0;
}
/* line 185, ../scss/partials/_slider.scss */
#slider section #boxBest .video.one {
  left: 0;
}
/* line 188, ../scss/partials/_slider.scss */
#slider section #boxBest .video.two {
  right: 0;
}
/* line 192, ../scss/partials/_slider.scss */
#slider section #boxBest .video .video-time {
  display: none;
}
/* line 197, ../scss/partials/_slider.scss */
#slider section #boxBest .video .video-description .video-bottom-description {
  display: none;
}

/* line 1, ../scss/partials/_video-thumbail.scss */
.video {
  background-color: #f1f0f0;
  width: 95%;
  margin-top: -15px;
  margin-bottom: 30px;
  float: right;
  height: 200px;
  -webkit-box-shadow: 1px 2px 0px #e2e2e2;
  -moz-box-shadow: 1px 2px 0px #e2e2e2;
  box-shadow: 1px 2px 0px #e2e2e2;
}
/* line 12, ../scss/partials/_video-thumbail.scss */
.video .video-thumbnail {
  height: 135px;
  overflow: hidden;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 23, ../scss/partials/_video-thumbail.scss */
.video .video-thumbnail .video-overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 135px;
  position: absolute;
  top: 0;
  z-index: 5;
  opacity: 0;
}
/* line 33, ../scss/partials/_video-thumbail.scss */
.video .video-thumbnail .video-overlay img {
  display: block;
  width: auto;
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -20px;
}
/* line 43, ../scss/partials/_video-thumbail.scss */
.video .video-thumbnail .video-overlay:hover {
  opacity: 1;
}
/* line 46, ../scss/partials/_video-thumbail.scss */
.video .video-thumbnail .video-overlay:hover img {
  margin-left: -11px;
}
/* line 52, ../scss/partials/_video-thumbail.scss */
.video .video-thumbnail .video-time {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  position: relative;
  top: 15px;
  float: right;
  line-height: 14px;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  z-index: 4;
}
/* line 72, ../scss/partials/_video-thumbail.scss */
.video .video-description h4 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
  margin-top: 15px;
  color: #525252;
}
/* line 80, ../scss/partials/_video-thumbail.scss */
.video .video-description .video-bottom-description {
  font-size: 14px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 86, ../scss/partials/_video-thumbail.scss */
.video .video-description .video-bottom-description .video-view {
  color: #525252;
}
/* line 89, ../scss/partials/_video-thumbail.scss */
.video .video-description .video-bottom-description .video-view img {
  margin-right: 10px;
}
/* line 94, ../scss/partials/_video-thumbail.scss */
.video .video-description .video-bottom-description .video-channel {
  float: right;
}
/* line 97, ../scss/partials/_video-thumbail.scss */
.video .video-description .video-bottom-description .video-channel a {
  color: #40a6e0;
}

@media all and (max-width: 750px) {
  /* line 106, ../scss/partials/_video-thumbail.scss */
  .video {
    margin-left: 2%;
    float: left;
    text-align: center;
  }
  /* line 111, ../scss/partials/_video-thumbail.scss */
  .video .video-thumbnail {
    background-color: #e9e9e9;
  }
  /* line 114, ../scss/partials/_video-thumbail.scss */
  .video .video-thumbnail .video-time {
    display: none;
  }
  /* line 118, ../scss/partials/_video-thumbail.scss */
  .video .video-thumbnail img {
    width: 100%;
    position: relative;
  }
  /* line 124, ../scss/partials/_video-thumbail.scss */
  .video .video-description {
    text-align: left;
  }
}
@media all and (min-width: 640px) {
  /* line 133, ../scss/partials/_video-thumbail.scss */
  .video .video-thumbnail .video-overlay {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  /* line 140, ../scss/partials/_video-thumbail.scss */
  .video .video-thumbnail .video-overlay img {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
}
/* line 5, ../scss/index.scss */
#accueil {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
