@import "compass/reset";
@import "partials/fonts.scss";
@import 'partials/player.scss';

body {
    margin: 0;
    padding: 0;
}

#player {
	margin: 0!important;
    width: 100%!important;
    height: 100%;
}

#qualityButton {
	right: 123px!important;
}
#volume {
	right: 56px!important;
}
#separation {
	right: 32px!important;
}
#annotationsButton {
	right: 140px!important;
}
#widescreen {
	display: none;
}

#DreamVidsIconEmbed {
	display: block;
	margin-left: -24px;
	width: 48px;
	height: 24px;
	background-image: url(../img/icon_logo.png);
	background-size: 48px 24px;
	position: absolute;
	bottom: 4px;
	left: 50%;
	cursor: pointer;
}