@import "partials/header.scss";
@import "cards/card.scss";
@import "partials/home-large-modal.scss";
@import "partials/best-channels.scss";
@import "partials/home-discover.scss";

#bottom {
	display: table;
	max-width: 1000px;
	margin: auto;
}