@import "partials/header.scss";
@import "cards/card.scss";
@import "partials/home-large-modal.scss";
@import "partials/aside-channels.scss";

@import "cards-list/aside-cards-list.scss";

#bottom {
	display: table;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}