@import 'partials/header.scss';
@import 'partials/upload-animation.scss';

#uploader {
    display: table;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 1000px;
    margin: auto;

    button {

    }
}