Options +FollowSymlinks
RewriteEngine On

RewriteRule	^video$	video.php	[L]
RewriteRule	^annotations$	annotations.php	[L]
RewriteRule	^embed$	embed.php	[L]
RewriteRule	^login$	login.php	[L]
RewriteRule	^register$	register.php	[L]
RewriteRule	^upload$	upload.php	[L]
RewriteRule	^flux$	flux.php	[L]
RewriteRule	^discover$	discover.php	[L]
RewriteRule	^channel$	channel.php	[L]
RewriteRule	^search$	search.php	[L]
RewriteRule	^profile$	profile.php	[L]
RewriteRule	^profile-pass$	profile-pass.php	[L]
RewriteRule	^profile-videos$	profile-videos.php	[L]
RewriteRule	^contributors$	contributors-dev.php	[L]
RewriteRule	^contributors-dev$	contributors-dev.php	[L]
RewriteRule	^contributors-modos$	contributors-modos.php	[L]
RewriteRule	^video-settings$	video-settings.php	[L]
RewriteRule	^messages$	messages.php	[L]
RewriteRule	^bugs$	bugs.php	[L]
RewriteRule	^channels$	channels.php	[L]
RewriteRule	^channel-settings$	channel-settings.php	[L]
RewriteRule	^create-channel$	create-channel.php	[L]
RewriteRule	^404$	404.php	[L]