#best-channels{
	width: 30%;
	min-height: 100px;
	display: inline-block;
	float: left;

	#best-channels-title{
		margin-left: 5%;

		h3{
			font-weight: normal;
			font-size: 18px;
			line-height: 90px;
			color: #858484;

			&:after {
				content: "";
				display: block;
				height: 4px;
				width: 25px;
				background-color: #f1f0f0;
				border: none;
				position: relative;
				bottom: 30px;
			}
		}
	}

	ul {
		.channels {
			display: block;
			position: relative;
			margin-left: 5%;
			margin-top: 0;
			margin-bottom: 0;
			padding: 10px;

			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				&:before {
					content: "";
					width: 2px;
					height: 100%;
					display: block;
					position: absolute;
					top: 0;
					left: -5px;
				}
			}
			&:nth-child(1) {
				&:before {
					background-color: #ffe00c;
				}
			} &:nth-child(2) {
				&:before {
					background-color: #d4d4d4;
				}
			} &:nth-child(3) {
				&:before {
					background-color: #e3b33f;
				}
			}

			.channels-avatar {
				float: left;
				width: 40px;
				height: 40px;
				margin-right: 8px;

				-webkit-background-size: cover;
  				-moz-background-size: cover;
  				-o-background-size: cover;
  				background-size: cover;
  				background-position: center;
  				background-repeat: no-repeat;
			}

			.channels-name, .channels-subscribers {
				margin-top: 4px;
				display: block;
				font-size: 15px;
			}

			.channels-name {
				color: #40a6e0;
			}

			.channels-subscribers {
				color: #858484;

				b {
					font-weight: bold;
				}
			}
		}
	}
}

@media all and (max-width: 700px) {
	#best-channels{
		float: none;
		width: 100%;

		ul {
			.channels {
				width: 40%;
				float: left;

				@media all and (max-width: 420px) {
					width: auto;
					float: none;
					display: none;

					&:nth-child(-n+5) {
						display: block;
					}
				}
			}
		}
	}
}