input[type="checkbox"] {
	width: 25px;
	margin: 10px 5px 15px 10px;
	cursor: pointer;

	&:before {
	    position: relative;
	    bottom: 5px;
	    right: 5px;

	    display: block;
	    margin-left: -2px;
	    padding: 12px 0px 13px 5px;

	    content: "";
	    background: #dddddd;
	    color: #ffffff;
	    font-size: 20px;
	    text-indent: 0;
	    line-height: 0;
	}

	&:checked:before,
	&:hover:before,
	&[disabled]:checked:before { content: "✓"; }

	&:checked:before { background: #2ecc71; }

	&[disabled] {
		cursor: default;
		
		&:hover:before { content: ""; }

		&:checked:before { background: #dddddd; }

		+ label {
		    color: #999999;
		    cursor: default;
		}
	}
	
	+ label {
	    position: relative;
	    right: 5px;
	    
	    width: auto!important;
	    margin-left: 5px!important;
	    
	    cursor: pointer;
	}
}