footer{
	width: 100%;
	border-top: 2px solid #d1d1d1;
	background-color: #f1f0f0;

	#inner-footer{
		max-width: 1000px;
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: left;
	}
}