@import "compass/reset";
@import "partials/fonts.scss";
@import "partials/footer.scss";

/* NAV VARIABLES */
$hr_bg_color: #f1f0f0;

$nav_background : #40a6e0;
$nav_shadow : #33799f;
$nav_borders : #33799f;
$nav_texts: #fff;
$nav_top_hover: #3d9ed5;

$nav_bottom_background: #f1f0f0;
$nav_bottom_li: #959595;
$nav_bottom_li_hover: #40a6e0;

$video_h1_color: #858484;

a{ text-decoration: none; color: white;}
body{ font-family: 'Source Sans Pro', Arial;}


/* NAV SCSS */


#top-nav{
	width: 100%;
	height: 60px;
	background-color: $nav_background;
	border-bottom: 2px solid $nav_shadow;
}

#inner-top-nav{
	margin: auto;
	max-width: 1000px;
	padding: 0;

	#inner-top-nav-left{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;

		.top-nav-icon-logo{
			margin-top: 15px;
		}

		.top-nav-text-logo{
			position: relative;
			left: 15px;
			top: -4px;
		}
	}

	#inner-top-nav-right{
		display: inline-block;
		vertical-align: top;
		float: right;

		form{
			display: inline-block;
			margin-right: -3px;
			border-left: 1px solid $nav_borders;
			border-right: 1px solid $nav_borders;
			
			input[type="text"]{
				height: 58px;
				border: 0;
				background-color: $nav_background;
				width: 150px;
				padding-left: 20px;
				color: $nav_texts;
			}

			input[type="text"]::-webkit-input-placeholder { color:#fff; font-style: italic; font-size: 14px; font-family: 'Source Sans Pro', Arial; position: relative;}
			input[type="text"]::-moz-input-placeholder { color:#fff; font-style: italic; font-size: 14px; font-family: 'Source Sans Pro', Arial; position: relative;} /* firefox 19+ */
			input[type="text"]::-ms-input-placeholder { color:#fff; font-style: italic; font-size: 14px; font-family: 'Source Sans Pro', Arial; position: relative;} /* ie */
			input[type="text"]::input-placeholder { color:#fff; font-style: italic; font-size: 14px; font-family: 'Source Sans Pro', Arial; position: relative;}

			input[type="submit"]{
				vertical-align: top;
				margin-top: 15px;
				height: 30px;
				width: 30px;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				background-image: url('../img/search_icon.png');
				background-repeat: no-repeat;
				background-position: center center;
				position: relative;
				right: 5px;
				cursor: pointer;
			}

			input[type="submit"]:focus, input[type="text"]:focus{
				outline: none;
			}
		}

		#top-nav-user-information{
			display: inline-block;
			vertical-align: top;
			text-align: right;

			#top-nav-user-information-button{
				display: inline-block;
				vertical-align: top;
				margin-left: 0;
				padding-right: 15px;
				position: relative;
				border-right: 1px solid $nav_borders;

				img, h4{
					position: relative;
					display: inline-block;
					vertical-align: middle;
					color: $nav_texts;
				}

				h4{
					position: relative;
					margin-left: 20px;
					margin-right: 20px;
					font-weight: normal;
					font-size: 14px;
					font-weight: bold;
				}

			}

			#top-nav-user-information-button:hover{
				background-color: $nav_top_hover;
				cursor: pointer;
			}

			#top-nav-user-information-menu{
				display: none;
				position: absolute;
				z-index: 101;
				top: 27px;

				li{
					margin-top: 2px;
					margin-bottom: -2px;
					width: 200px;
					position: relative;
					left: -200px;
					display: block;
					background-color: #a7a7a7;
					-webkit-box-sizing: border-box; 
    				-moz-box-sizing: border-box; 
    				box-sizing: border-box; 
    				padding-top: 10px;
    				padding-bottom: 10px;
    				padding-right: 15px;
    				padding-left: 15px;
    				font-size: 14px;
				}

				li:hover{
					background-color: #9c9c9c;
				}
			}
		}
		
	}
}


#bottom-nav{
	height: 40px;
	background-color: $nav_bottom_background;

	#inner-bottom-nav{
		max-width: 1000px;
		margin: auto;

		nav{
			display: inline-block;
			position: relative;
			left: -10px;
			
			li{
				display: inline-block;
				line-height: 41px;
				text-transform: uppercase;
				font-size: 14px;
				width: 120px;
				margin-left: 10px;
				text-align: center;

				a{
					color: $nav_bottom_li;
				}

				a:hover{
					color: $nav_bottom_li_hover;
				}

				a:hover ~ .bottom-nav-underline{
					display: block;
				}

				.bottom-nav-underline{
					width: 100%;
					height: 3px;
					position: relative;
					top: -4px;
					background-color: $nav_bottom_li_hover;
					display: none;
				}
			}

		}

		#mobile-nav-icon{
			display: none;
		}

		#bottom-nav-social{
			display: inline-block;
			vertical-align: top;
			float: right;

			li{
				display: inline-block;
				margin-right: 10px;
				line-height: 42px;
			}
		}
	}
}

@media all and (max-width: 600px) {
	#top-nav{
		#top-nav-logo-text{
			display: none;
		}
	}

	#inner-top-nav{
		#inner-top-nav-right{
			#top-nav-user-information{
				text-align: right;

				#top-nav-user-information-button{
					h4{
						display: none;
					}
					#top-nav-user-arrow{
						margin-left: 15px;
					}
				}
			}
		}
	}

	#bottom-nav{
		#inner-bottom-nav{
			nav{
				background-color: darken($nav_bottom_background, 5%);
				position: fixed;
				top: 0;
				left: -200px;
				height: 100%;
				z-index: 100;
				box-shadow: 0 0 12px #555;

				li{
					display: block;
					width: 170px;
					margin-left: 5px;

					.bottom-nav-underline{
						height: 40px;
						width: 4px;
						top: -40px;
						margin-bottom: -40px;
					}
				}
			}
			nav.open{
				left: -5px;
			}

			#mobile-nav-icon{
				display: inline-block;
				float: left;
				line-height: 41px;
				position: relative;
				left: 15px;
			}
			#mobile-nav-icon.open{
				left: 183px;
			}
		}
	}
}

@media all and (max-width: 450px) {
	#inner-top-nav{
		#inner-top-nav-right{
			position: absolute;
			top: 0;
			right: 0;
			form{					
				input[type="text"]{
					width: 100px;
					padding-left: 10px;
				}
			}
		}
	}
}
@media all and (max-width: 350px) {
	#inner-top-nav{
		#inner-top-nav-right{
			form{					
				input[type="text"]{
					width: 50px;
					padding-left: 5px;
				}
			}
		}
	}
}