.aside-cards-list {
	width: 70%;
	min-height: 100px;
	display: block;
	float: left;

	@media all and (max-width: 700px) {
		float: none;
		width: 100%;
	}

	h3 {
		margin-left: 5%;
		font-weight: normal;
		font-size: 18px;
		line-height: 90px;
		color: #858484;

		&:after {
			content: "";
			display: block;
			height: 4px;
			width: 25px;
			background-color: #f1f0f0;
			border: none;
			position: relative;
			bottom: 30px;
		}
	}

	.card {
		width: 45%;
		margin-left: 2%;
		margin-right: 2%;
		float: left;

		@media all and (max-width: 420px) {
			width: 95%;
			height: 200px;
		}
	}
}