#annoTools {
	padding: 20px;
}
#annoTools button:not(.colorSelect) {
	padding: 10px;
	width: 100%;
	border: none;
	color: white;
	background-color: #40a6e0;
	cursor: pointer;
}
#annoTools button:not(.colorSelect):hover {
	background-color: #6cbae7;
}
#annoTools button:not(.colorSelect):active {
	background-color: #2a9cdc;
}
#annoTools button:not(.colorSelect):focus {
	outline: none;
}
@media all and (min-width: 640px) {
  	#annoTools button:not(.colorSelect) {
  		-webkit-transition: 0.2s;
  		-moz-transition: 0.2s;
  		-ms-transition: 0.2s;
  		-o-transition: 0.2s;
  		transition: 0.2s;
  	}
}
#annoTools button:not(.colorSelect).red {
	background-color: #ff8830;
}
#annoTools button:not(.colorSelect).red:hover {
	background-color: #ffa563;
}
#annoTools button:not(.colorSelect).red:active {
	background-color: #ff7917;
}


#annoTools hr {
	margin: 10px 20px 15px 20px;
	height: 0;
	border: 0;
	border-bottom: 1px solid #d9d9d9;
}

#STtitle {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	border: none;
	background: transparent;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}
#STtitle:focus, #STtitle:active {
	outline: none;
}

#STleft, #STtop, #STwidth, #STheight {
	width: 32px;
	text-align: center;
	border: none;
	background: transparent;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}
#STleft ~ .purcent, #STtop ~ .purcent, #STwidth ~ .purcent, #STheight ~ .purcent {
	display: inline-block;

}
#selectedTools input:focus, #selectedTools input:active {
	outline: none;
}

.colorSelect {
	border: none;
	width: 30px;
	height: 30px;
	margin: 1px;
	cursor: pointer;
	padding: 0;
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 8px;
}
.colorSelect:focus, .colorSelect:active {
	outline: none;
}
.colorSelect.blue, #annoList > li.blue {
	background-color: #40a6e0;
} .colorSelect.orange, #annoList > li.orange {
	background-color: #df6d14;
} .colorSelect.yellow, #annoList > li.yellow {
	background-color: #ffff00;
	color: black
} .colorSelect.pink, #annoList > li.pink {
	background-color: #fd3f92;
} .colorSelect.red, #annoList > li.red {
	background-color: #eb0000;
} .colorSelect.green, #annoList > li.green {
	background-color: #9efd38;
	color: black
} .colorSelect.purple, #annoList > li.purple {
	background-color: #660099;
} .colorSelect.white, #annoList > li.white {
	background-color: white;
	color: black
} .colorSelect.black, #annoList > li.black {
	background-color: black;
}

#annoTimeLine {
	max-width: 1000px;
	height: auto;
	min-height: 200px;
	margin: auto;
	margin-top: 20px;
	background-color: #f1f0f0;
	overflow: hidden;
	box-shadow: 1px 2px 0 #e2e2e2;
}
#annoList > li {
	cursor: move;
	position: relative;
	background-color: #40a6e0;
	color: white;
	text-align: center;
	overflow: hidden;
	opacity: 0;
	padding: 10px;
	display: block;
	height: 40px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#annoList > li > .resizeLeft, #annoList > li > .resizeRight {
	display: inline-block;
	background: white;
	opacity: 0.5;
	height: 100%;
	width: 5px;
	cursor: ew-resize;
	position: absolute;
	top: 0;
}
#annoList > li.white > .resizeLeft, #annoList > li.white > .resizeRight {
	background: black;
}
#annoList > li > .resizeLeft {
	left: 0;
}
#annoList > li > .resizeRight {
	right: 0;
}

.annotation {
	cursor: move;
}
.annotation > p:focus, .annotation > a:focus {
	outline: none;
	cursor: text;
}
.annotation > .resize {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 12px 12px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	cursor: nwse-resize;
}
.annotation > .close {
	opacity: 1!important;
}

#fullscreen, #widescreen, #separation, #annotationsButton {
	display: none!important;
}
#volume {
	right: 20px;
}
#qualityButton {
	right: 90px;
}