@import "compass/css3";

#player-description-container{
	margin-top: 10px;
	width: 1000px;
	height: 360px;
	background-color: #f1f0f0;
	-webkit-box-shadow: 1px 2px 0px #e2e2e2;
	-moz-box-shadow: 1px 2px 0px #e2e2e2;
	box-shadow: 1px 2px 0px #e2e2e2;
}