#recomandations{
	margin: auto;
	width: 100%;
	max-width: 350px;
	min-height: 100px;
	display: inline-block;
	vertical-align: top;
	float: right;

	#recomandations-title{
		margin-left: 25px;

		h3{
			font-weight: normal;
			font-size: 18px;
			color: $video_h3_color;
			line-height: 90px;
		}

		hr{
			height: 4px;
			width: 25px;
			background-color: $hr_bg_color;
			border: none;
			float: left;
			position: relative;
			top: -40px;
		}
	}

	.recomandation{
		background-color: #f1f0f0;
		width: 95%;
		margin-top: -15px;
		margin-bottom: 30px;
		float: right;
		height: 200px;
		-webkit-box-shadow: 1px 2px 0px #e2e2e2;
		-moz-box-shadow: 1px 2px 0px #e2e2e2;
		box-shadow: 1px 2px 0px #e2e2e2;

		.recomandation-thumbnail{
			height: 135px;
			overflow: hidden;
			position: relative;

			.recomandation-overlay{
				display: block;
				background-color: #{'rgba(0, 0, 0, 0.6)'};
				width: 100%;
				height: 135px;
				position: absolute;
				top: 0;
				z-index: 5;
				opacity: 0;

				img{
					display: block;
					width: auto;
					position: relative;
					left: 50%;
					top: 50%;
					margin-top: -15px;
					margin-left: -20px;
				}

				&:hover{
					opacity: 1;
					
					img{
						margin-left: -11px;
					}
				}
			}

			.recomandation-time{
				color: white;
				background-color: #{'rgba(0, 0, 0, 0.8)'};
				display: inline-block;
				position: relative;
				top: -130px;
				float: right;
				line-height: 14px;
				font-size: 14px;
				padding-left: 15px;
				padding-top: 8px;
				padding-bottom: 8px;
				padding-right: 15px;
				z-index: 4;
			}

			img{
				width: 100%;
				display: inline-block;
			}
		}


		.recomandation-description{

			h4{
				font-size: 14px;
				font-weight: bold;
				margin-left: 13px;
				margin-top: 15px;
				color: #525252;
			}

			.recomandation-bottom-description{
				font-size: 14px;
				margin-top: 10px;
				padding-left: 15px;
				padding-right: 15px;

				.recomandation-view{
					color: #525252;

					img{
						margin-right: 10px;
					}
				}

				.recomandation-channel{
					float: right;

					a{
						color: #40a6e0;
					}
				}
			}


		}
	}

}

@media all and (max-width: 1015px) {
	#recomandations{
		max-width: 40%;
	}
}

@media all and (max-width: 750px) {
	#recomandations{
		float: none;
		max-width: 100%;
	}

	.recomandation{
		margin-right: 20px;
		text-align: center;

		.recomandation-thumbnail{
			background-color: #e9e9e9;

			.recomandation-time{
				display: none;
			}

			img{
				width: 100%;
				position: relative;
			}
		}

		.recomandation-description{
			text-align: left;
		}
	}
}

@media all and (min-width: 640px) {
	#recomandations{
		.recomandation{
			.recomandation-thumbnail{
				.recomandation-overlay{
					@include transition-duration(0.2s);

					img{
						@include transition-duration(0.2s);
					}
				}
			}
		}
	}
}