#recomandations{
	margin: auto;
	width: 30%;
	min-height: 100px;
	display: inline-block;
	vertical-align: top;
	float: right;

	@media all and (max-width: 1015px) {
		width: 40%;
	}

	@media all and (max-width: 750px) {
		float: none;
		width: 100%;
	}

	h3{
		margin-left: 25px;
		font-weight: normal;
		font-size: 18px;
		color: $video_h3_color;
		line-height: 90px;

		&:after {
			content: "";
			display: block;
			height: 4px;
			width: 25px;
			background-color: $hr_bg_color;
			border: none;
			position: relative;
			bottom: 30px;
		}
	}

	@media all and (max-width: 750px) {
		.card.video {
			width: 45%;
			margin-left: 2.5%;
			margin-right: 2.5%;
		}
	}
	@media all and (max-width: 430px) {
		.card.video {
			width: 95%;
			margin-left: 2.5%;
			margin-right: 2.5%;
		}
	}
}